body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    padding: 0;
    color: #222;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}


h1 {
    font-size: 46px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-style: italic;
    color: #D16761;
}

h2 {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-style: italic;
    color: #6C7A78;
}

h3 {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 0px;
    color: ##88BBEE;
}

h4 {
    margin-top: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 12px;
    font-weight: normal;
    color: #333;
}

h1, h2, h3 {
    font-weight: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

code {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #ECECEC;
}

.lang-yaml, .lang-glsl, .lang-bash { 
    background-color: #ECECEC;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}